

@font-face {
    font-family: "Comfortaa";
    src: url(Comfortaa/Comfortaa-VariableFont_wght.ttf) format("truetype"); 
    }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-image: url(images/back-clouds-pink.jpeg); */
    background-color: rgb(255, 202, 237);
    font-family: 'Comfortaa';
    margin: 20px;
}

.priceImg {
    width: 230px;
    /* margin: 20px; */
    border: 4px solid rgb(123, 220, 250);
}

.headerPink {
    background-color: rgb(255, 255, 255);
    color: rgb(226, 66, 146);
    height: 46px;
    font-size: 23px;
    margin-bottom: 15px;
    padding: 10px;
}

figure {
    background: #e64b98; 
    padding: 10px;
    width: 170px;
    margin: 0 10px 10px 0; 
}

figcaption {
    color: #fff; 
}


